:root {
	--primary-color: #f2a922;
	--secondary-color: #6ac4d9;
	--accent-color: #f29188;
	--background-color: #f2f2f2;
	--text-color: #6b5873;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--text-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
	width: 100%;
	background-color: var(--primary-color);
	text-align: center;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu ul li {
	list-style: none;
	padding: 2px 4px;
}
.menu ul li a {
	color: var(--text-color);
	text-decoration: none;
}

.container {
	padding: 20px 10px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	width: 100%;
	height: 10vh;
	padding: 5px 10px;
}
.logo {
	padding: 10px 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.logo h1 {
	padding-left: 20px;
}
#logo {
	width: 5%;
	height: 5%;
}
.meta {
	padding-left: 10px;
}
article p {
	padding: 5px 10px;
}
.btn {
	background-color: var(--accent-color);
	border: none;
	border-radius: 10px;
	width: 50%;
	height: 5vh;
	cursor: pointer;
}
.btn:hover {
	background-color: var(--primary-color);
}
.comments {
	padding: 10px 15px;
}
.comments a {
	color: var(--text-color);
	text-decoration: none;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	height: 10vh;
}

.container_form h2 {
	color: var(--primary-color);
	text-align: center;
	margin-bottom: 20px;
}
.container_form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.container_form p {
	text-align: center;
	margin-bottom: 20px;
}

.form {
	padding-bottom: 20px;
}

label {
	margin-bottom: 5px;
	color: var(--text-color);
}

input[type='text'],
input[type='email'],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	font-size: 16px;
	color: var(--text-color);
	background: var(--background-color);
	outline: none;
}

input[type='submit'] {
	background: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;
	width: 50%;
}

input[type='submit']:hover {
	background: var(--accent-color);
}
